<!doctype html>
<html lang="en">
 
<head>
  <!-- ?Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- ?CSS -->
  <link rel="stylesheet" href="static/css/myblogs.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap">
  <link rel="stylesheet" href="static/css/open-iconic-bootstrap.css">
 
  <!-- ?Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
  <title>Tweet Blog</title>
  <style>
    *{

    }
    body {
      background-color: #2b2d2e;
      font-family: 'Rubik', sans-serif;

    }
  </style>
</head>
 
<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"><span class="oi oi-home"></span> Home</a>
          </div>
          <form class="form-inline">
            <input class="form-control" id="nav-search" type="search" placeholder="Search Twitter"> &nbsp;
            <img class="tw-user-small rounded-circle" src="{{ current_user.avatar_url }}"> &nbsp;
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('lab13_login', next='/lab11') }}" class="navbar-item btn" id="nav-tweet-btn" style="background-color: #2C3E50;">
              Login
            </a> &nbsp;
            <a href="{{ url_for('lab13_signup') }}" class="navbar-item btn" id="nav-tweet-btn" style="background-color: #85C1E9;">
              Sign up
            </a> &nbsp;
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('lab13_setting', next='/lab11') }}" class="navbar-item btn" id="nav-tweet-btn" style="background-color: #515A5A;">
              Setting
            </a> &nbsp;
            <a href="{{ url_for('lab13_logout', next='/lab11') }}" class="navbar-item btn" id="nav-tweet-btn" style="background-color: #E74C3C;">
              Logout
            </a>
            {% endif %}
          </form>
          
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div id="left_3" class="col-md-3">
          </div>
          <div id="center_6" class="col-md-6">
            {% if not current_user.is_authenticated %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              Please login to enjoy tweet blog!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            <div class="content-box">
              {% if current_user.is_authenticated %}
                <div class="new-tweet-row card">
                  
                    <div class="row card-body">
                      <div class="col-md-2">
                        <img class="tw-user-small rounded-circle" src="{{ current_user.avatar_url }}"> &nbsp;
                      </div>
                      <div class="col-md-9">
                        <form id="addBlogForm" action="/lab11">
                          <input type="text" id="id-input" name="id" style="display: none">
                          <!--
                          <div class="form-group">
                            <label for="name-input">Name</label>
                            <input type="text" class="form-control" id="name-input" name="name" placeholder="name">
                          </div>
                          <div class="form-group">
                            <label for="email-input">Email address</label>
                            <input type="email" class="form-control" id="email-input" name="email" placeholder="name@example.com">
                          </div>
                          -->
                          <div class="form-group">
                            <label for="text-input">Message</label>
                            <textarea type="text" class="form-control" id="text-input" name="message" placeholder="Whats happening?"></textarea>
                          </div>
                          <button type="submit" class="btn btn-success float-right" name="submit" >Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>   
                {% endif %}
            </div>
            <!--!------------------------------- post --------------------------------->
            <div class="post-box" id="post-box">
            </div>
          </div>

          <div id="right_3" class="col-md-3">
            
          </div>
        </div>
      </div>

  <!-- ?Optional JavaScript -->
  <!-- ?jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.3.js" 
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" 
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- ? pre-populate the post right after the page load using an AJAX call.-->
  <script>
    let user = parseInt('{{ current_user.id }}');
    console.log(user);
  </script>
  <script>
    //---------------------- post -----------------------------
    const postBox = document.querySelector('.post-box'); 
    let arrayData;
    let output = '';
    
    function populate_post(data) {
      arrayData = data;
      // ทำให้ name,email ของ user แสดงบนฟอร์ม
      //$('#name-input').val(arrayData[0]?.name);
      //$('#email-input').val(arrayData[0]?.email);

      data.forEach((element, index) => {
        if (user === element[0].id){
          console.log(element);
          var date = new Date();
          var offset = date.getTimezoneOffset(); // offset จะได้ค่าเป็นนาทีทีเวลา us ต่างจากไทย (420นาที)
          //console.log(offset);
          var dateCreated = Date.parse(element[1].date_created) - (offset*60*1000); //แปลงเวลาที่เรามีให้เป็นเวลาไทย
          var dateCreated = new Date(dateCreated).toLocaleString("th-TH") //ทำให้เวลาอยู่ในรูปแบบไทย (วันเดือนปี)
          //console.log(dateCreated);
          if (Date.parse(element[1].date_created) === Date.parse(element[1].date_updated)) {
            output += `
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <img class="tw-user-small rounded-circle" src="${element[0].avatar_url}">
                  </div>
                  <div class="col-md-10">
                    <h5 class="card-name" id="name">${element[0].name}</h5>
                    <h6 class="card-email mb-2 text-muted" id="email">${element[0].email}</h6>
                    <span class="card-text"><small class="text-muted" id="date">${dateCreated}</small></span>
                    <p class="card-message" id="message">${element[1].message}</p>
                
                    <button type="button" class="btn btn-info btn-sm" value="${index}" onclick="prePopulateForm(this.value)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" value="${element[1].id}" onclick="deletePost(this.value)">Delete</button>
                  </div>  
                </div>
              </div>
            </div>
            `;
          } else {
            var dateUpdated = Date.parse(element[1].date_updated) - (offset*60*1000); //แปลงเวลาที่เรามีให้เป็นเวลาไทย
            var dateUpdated = new Date(dateUpdated).toLocaleString("th-TH") //ทำให้เวลาอยู่ในรูปแบบไทย (วันเดือนปี)
            output += `
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <img class="tw-user-small rounded-circle" src="${element[0].avatar_url}">
                  </div>
                  <div class="col-md-10">
                    <h5 class="card-name" id="name">${element[0].name}</h5>
                    <h6 class="card-email mb-2 text-muted" id="email">${element[0].email}</h6>
                    <span class="card-text"><small class="text-muted" id="date">${dateCreated}</small></span>
                    <span class="card-text"><small class="text-muted" id="date">| edit when ${dateUpdated}</small></span>
                    <p class="card-message" id="message">${element[1].message}</p>
                
                    <button type="button" class="btn btn-info btn-sm" value="${index}" onclick="prePopulateForm(this.value)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" value="${element[1].id}" onclick="deletePost(this.value)">Delete</button>
                  </div>  
                </div>
              </div>
            </div>
            `;
          }
        } else {
          console.log(element);
          var date = new Date();
          var offset = date.getTimezoneOffset(); // offset จะได้ค่าเป็นนาทีทีเวลา us ต่างจากไทย (420นาที)
          //console.log(offset);
          var dateCreated = Date.parse(element[1].date_created) - (offset*60*1000); //แปลงเวลาที่เรามีให้เป็นเวลาไทย
          var dateCreated = new Date(dateCreated).toLocaleString("th-TH") //ทำให้เวลาอยู่ในรูปแบบไทย (วันเดือนปี)
          //console.log(dateCreated);
          if (Date.parse(element[1].date_created) === Date.parse(element[1].date_updated)) {
            output += `
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <img class="tw-user-small rounded-circle" src="${element[0].avatar_url}">
                  </div>
                  <div class="col-md-10">
                    <h5 class="card-name" id="name">${element[0].name}</h5>
                    <h6 class="card-email mb-2 text-muted" id="email">${element[0].email}</h6>
                    <span class="card-text"><small class="text-muted" id="date">${dateCreated}</small></span>
                    <p class="card-message" id="message">${element[1].message}</p>
                  </div>  
                </div>
              </div>
            </div>
            `;
          } else {
            var dateUpdated = Date.parse(element[1].date_updated) - (offset*60*1000); //แปลงเวลาที่เรามีให้เป็นเวลาไทย
            var dateUpdated = new Date(dateUpdated).toLocaleString("th-TH") //ทำให้เวลาอยู่ในรูปแบบไทย (วันเดือนปี)
            output += `
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <img class="tw-user-small rounded-circle" src="${element[0].avatar_url}">
                  </div>
                  <div class="col-md-10">
                    <h5 class="card-name" id="name">${element[0].name}</h5>
                    <h6 class="card-email mb-2 text-muted" id="email">${element[0].email}</h6>
                    <span class="card-text"><small class="text-muted" id="date">${dateCreated}</small></span>
                    <span class="card-text"><small class="text-muted" id="date">| edit when ${dateUpdated}</small></span>
                    <p class="card-message" id="message">${element[1].message}</p>
                  </div>  
                </div>
              </div>
            </div>
            `;
          }
        }
        
      });
      postBox.innerHTML = output;
      output = '';
    }

    $(document).ready(function () {
      (function () {
        $.getJSON("lab11/blogs", populate_post);
      })();
    });


    //---------------------- submit -----------------------------
    $("#addBlogForm").submit(function (event) {
      // Stop form from submitting normally
      event.preventDefault();

      var formData = {};
      $("#addBlogForm :input").each(function () {
        var key = $(this).attr('name');
        var val = $(this).val();

        if (key != 'submit') {
          formData[key] = val;
        }
      });

      //console.log(formData)
      var $form = $(this);
      var url = $form.attr("action");
      $.post(url, formData, function (blog_data) {
        $('#addBlogForm')[0].reset();
        refresh_feed(blog_data);
      });

    });


    //---------------------- refresh -----------------------------
    function refresh_feed(blog_data) {
      document.getElementById("post-box").innerHTML = "";
      document
        .getElementById("post-box")
        .addEventListener("load", populate_post(blog_data));
    }


    //---------------------- edit -----------------------------
    function prePopulateForm(index){
      $("#addBlogForm").trigger("reset");
      $('#id-input').val(arrayData[index][1].id);
      $('#text-input').val(arrayData[index][1].message);
      $("#text-input" ).focus();
    }


    //---------------------- delete -----------------------------
    function deletePost(id) {
      if (!confirm("Delete this post ?")) {
        return false;
      }
      var url = "/lab11/delete_blogs"
      var formData = { 'id': id };
      $.post(url, formData, function (blog_data) {
        refresh_feed(blog_data)
      });
    }
    
  </script>
  
  
</body>
 
</html>