  
{% extends "lab13/base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
 <h3 class="title">Setting</h3>
 <div class="box">
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="notification is-danger">
     {{ messages[0] }}
   </div>
   {% endif %}
   {% endwith %}
   <form method="POST">
     <div class="field">
       <div class="control">
         <input class="input is-medium" type="email" name="email" placeholder="Email" autofocus="" value="{{current_user.email}}">
       </div>
     </div>
     <div class="field">
       <div class="control">
         <input class="input is-medium" type="text" name="name" placeholder="Name" autofocus="" value="{{current_user.name}}">
       </div>
     </div>
     <div class="field">
      <p style="color: #CB4335"> Please confirm your current password</p> 
     </div>
     <div class="field">
        <div class="control">
          <input class="input is-medium" type="password" name="password" placeholder="Password">
        </div>
    </div>
     <button class="button is-rounded is-success is-medium is-fullwidth" >Setting</button>
   </form>
 </div>
</div>
{% endblock %}
